[flake8]
# Explanation and Notes on Flake8 Ignore Rules. Also see: https://www.flake8rules.com/
# E501 - defer line length to other tools
# PIE786 - Use precise exception handlers
# W503 - Python 3 standard is a line break BEFORE binary operator, so ignore W503. Enforce W504
ignore = E501,PIE786,W503
max-function-length = 55
max-line-length = 120
min-python-version = 3.8
per-file-ignores=
    # @calcipy.cli.task provides a beartype wrapper
    */tasks/*.py:RBT001,
    # Enforcing beartype on @nox_session doesn't make sense
    *noxfile.py:RBT001,
    __init__.py:F401,
    check_imports.py:F401,
    test_*.py:RBT001
select = A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z
