[MAIN]
enable-all-extensions=yes
fail-under=8
ignore=tests
py-version=3.9
suggestion-mode=yes

load-plugins=
    pylint.extensions.bad_builtin,
    pylint.extensions.broad_try_clause,
    pylint.extensions.check_elif,
    pylint.extensions.code_style,
    pylint.extensions.comparison_placement,
    pylint.extensions.confusing_elif,
    pylint.extensions.consider_refactoring_into_while_condition,
    pylint.extensions.consider_ternary_expression,
    pylint.extensions.dunder,
    pylint.extensions.empty_comment,
    pylint.extensions.eq_without_hash,
    pylint.extensions.for_any_all,
    pylint.extensions.mccabe,
    pylint.extensions.overlapping_exceptions,
    pylint.extensions.private_import,
    pylint.extensions.redefined_loop_name,
    pylint.extensions.redefined_variable_type,
    pylint.extensions.set_membership,
    pylint.extensions.typing,
    pylint.extensions.while_used

[BASIC]
include-naming-hint=yes

[CLASSES]
check-protected-access-in-special-methods=yes

[DESIGN]
max-args=7  # Def: 6
max-bool-expr=4  # Def: 5
max-branches=10  # Def: 12
max-parents=3  # Def: 7
max-public-methods=15  # Def: 20
max-returns=5  # Def: 6
min-public-methods=1  # Def: 2

[IMPORTS]
allow-wildcard-with-all=yes

[LOGGING]
logging-format-style=new

[MESSAGES CONTROL]
# Enable some checkers that are not activated by default:
enable =
    bad-inline-option,
    deprecated-pragma,
    file-ignored,
    use-symbolic-message-instead,
    useless-suppression
# Fixes 'no-name-in-module'
extension-pkg-whitelist=pydantic
# Defer to other tools and reduce false positives
disable=
    broad-except,
    deprecated-typing-alias,
    fixme,
    import-outside-toplevel,
    line-too-long,
    logging-format-interpolation,
    logging-fstring-interpolation,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-self-argument,
    redefined-builtin,
    reimported,
    singleton-comparison,
    too-few-public-methods,
    too-many-try-statements,
    ungrouped-imports,
    use-maxsplit-arg,
    wrong-import-order
# Include some helpful details on errors messages for naming rules:
include-naming-hint = yes

# Slight modifications
# - Default: i,j,k,ex,Run,_ (prefer "__" over "_")
# - Use "exc" instead of e, ex,or err for exceptions (i.e. "except RuntimeError as err:")
# - ns for Invoke namespace
# - dt,tz,ix
good-names=i,j,k,Run,__,exc,ns,dt,tz,ix

[REFACTORING]
max-nested-blocks=3

[REPORTS]
output-format=colorized

[SIMILARITIES]
min-similarity-lines=5

[STRING]
check-str-concat-over-line-jumps=yes

[STRING_CONSTANT]
# Doc: https://pylint.pycqa.org/en/latest/user_guide/messages/warning/implicit-str-concat.html
check-quote-consistency = yes
