[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

[tool.commitizen]
version = "2.1.0"
version_files = ["calcipy/__init__.py:^__version", "pyproject.toml:^version"]

[tool.poetry]
authors = ["Kyle King <dev.act.kyle@gmail.com>"]
classifiers = [
  "Development Status :: 4 - Beta",
  "Framework :: Pytest",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.9",
  "Topic :: Software Development :: Libraries",
  "Topic :: Utilities",
] # https://pypi.org/classifiers/
description = "Python package to simplify development"
documentation = "https://calcipy.kyleking.me"
include = ["LICENSE"]
keywords = ["nox", "python-poetry"]
license = "MIT"
maintainers = []
name = "calcipy"
readme = "docs/README.md"
repository = "https://github.com/kyleking/calcipy"
version = "2.1.0"

[tool.poetry.dependencies]
python = "^3.9.13"
arrow = {optional = true, version = ">=1.2.3"} # tags
autopep8 = {optional = true, version = ">=2.0.1"} # lint
bandit = {optional = true, version = ">=1.7.4"} # lint
basedpyright = {optional = true, version = ">=1.6.0"} # types
beartype = ">=0.18.2"
bidict = {optional = true, version = ">=0.22.1"} # stale
commitizen = {optional = true, version = ">=3.22.0"} # doc
corallium = ">=1.0.2"
griffe = ">=0.32.3" # experimental
httpx = {optional = true, version = ">=0.24.1"} # stale
invoke = ">=2.2.0"
mkdocs = {optional = true, version = ">=1.5.3"} # doc
mkdocs-build-plantuml-plugin = {optional = true, version = ">=1.9.0,!=1.10.0"} # doc
mkdocs-gen-files = {optional = true, version = ">=0.4.0"} # doc
mkdocs-git-revision-date-localized-plugin = {optional = true, version = ">=1.0.1"} # doc
mkdocs-include-markdown-plugin = {markers = "python_version < '3.12'", optional = true, version = ">=4.0.3"} # doc
mkdocs-literate-nav = {optional = true, version = ">=0.5.0"} # doc
mkdocs-material = {optional = true, version = ">=9.4.8"} # doc
mkdocs-section-index = {optional = true, version = ">=0.3.4"} # doc
mkdocstrings = {extras = ["python"], optional = true, version = ">=0.24.2"} # doc
mypy = {optional = true, version = ">=1.0.0"} # types
nox-poetry = {optional = true, version = ">=1.0.3"} # test
pandas = {optional = true, version = ">=1.5.3"} # docs,tags
pip-check = {optional = true, version = ">=2.8.1"} # lint
pydantic = ">=2.7.0"
pylint = {optional = true, version = ">=3.0.2"} # doc,pylint
pymdown-extensions = {optional = true, version = ">=10.0.1"} # docs
pyrate_limiter = {optional = true, version = ">=3.0.2"} # stale
pytest = {optional = true, version = ">=7.2.1"} # test
pytest-cov = {optional = true, version = ">=5.0.0"} # test
pytest-randomly = {optional = true, version = ">=3.12.0"} # test
pytest-watcher = {optional = true, version = ">=0.4.2"} # test
python-box = {optional = true, version = ">=6.0.2"} # ddict
pyyaml = {optional = true, version = ">=5.2"} # doc,tags
ruff = {optional = true, version = ">=0.3.7"} # lint
semver = ">=3.0.1" # experimental
tabulate = {optional = true, version = ">=0.9.0"} # tags: Required for pandas to markdown
transitions = {optional = true, version = ">=0.9.0"} # tags: docs
virtualenv = {optional = true, version = ">=20.24.0"} # tags: nox. Prevents 'scripts' KeyError with Python 3.12

[tool.poetry.extras]
ddict = ["python-box"]
doc = [
  "commitizen",
  "mkdocs",
  "mkdocs-build-plantuml-plugin",
  "mkdocs-gen-files",
  "mkdocs-git-revision-date-localized-plugin",
  "mkdocs-include-markdown-plugin",
  "mkdocs-literate-nav",
  "mkdocs-material",
  "mkdocs-section-index",
  "mkdocstrings",
  "pandas",
  "pylint", # for 'pyreverse'
  "pymdown-extensions",
  "pyyaml",
  "transitions",
]
lint = [
  "autopep8",
  "bandit",
  "pip-check",
  "ruff",
]
nox = ["nox-poetry", "virtualenv"]
pylint = ["pylint"]
stale = [
  "arrow",
  "bidict",
  "httpx",
  "pyrate_limiter",
]
tags = [
  "arrow",
  "pandas",
  "pyyaml",
  "tabulate",
]
test = [
  "pytest",
  "pytest-cov",
  "pytest-randomly",
  "pytest-watcher",
]
types = [
  "basedpyright",
  "mypy",
]

[tool.poetry.group.dev.dependencies]
# pytest-benchmark = ">=3.4.1"  # Provides the benchmark fixture
hypothesis = {extras = ["cli"], version = ">=6.100.1"} # Use CLI with: "poetry run hypothesis write calcipy.dot_dict.ddict"
pytest-asyncio = ">=0.21.0"
pytest-recording = ">=0.13.0"
pytest-subprocess = ">=1.4.1"
syrupy = ">=4.4.0"
types-pyyaml = ">=6.0.12.6"
types-setuptools = ">=67.3.0.1"
vcrpy = ">=5.1.0" # FYI: Pinned to indirectly manage the urllib3 version

[tool.poetry.scripts]
calcipy = "calcipy.scripts:start"
calcipy-docs = "calcipy.scripts:start_docs"
calcipy-lint = "calcipy.scripts:start_lint"
calcipy-pack = "calcipy.scripts:start_pack"
calcipy-tags = "calcipy.scripts:start_tags"
calcipy-test = "calcipy.scripts:start_test"
calcipy-types = "calcipy.scripts:start_types"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/kyleking/calcipy/issues"
"Changelog" = "https://github.com/kyleking/calcipy/blob/main/docs/docs/CHANGELOG.md"

[tool.pyright]
include = ["calcipy"]
pythonVersion = "3.9"

[tool.tomlsort]
all = true
in_place = true
sort_first = ["python"]
trailing_comma_inline_array = true
