add-trailing-comma==2.0.1; python_full_version >= "3.6.1"
astpretty==2.0.0; python_full_version >= "3.6.1" and python_version >= "3.6"
asttokens==2.0.4; python_version >= "3.6" and python_version < "4"
atomicwrites==1.4.0; python_version >= "3.5" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.5" and python_full_version >= "3.4.0"
attrs==20.3.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
autopep8==1.5.4
bandit==1.6.2
beautifulsoup4==4.9.3
better-exceptions==0.2.2
click==7.1.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
cloudpickle==1.6.0; python_version >= "3.5"
cognitive-complexity==1.2.0; python_version >= "3.6"
cohesion==1.0.0
colorama==0.4.4; python_version >= "3.5" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or python_full_version >= "3.5.0" and sys_platform == "win32" and python_version >= "3.5" and platform_system == "Windows"
coverage==5.3; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
cycler==0.10.0; python_version >= "3.6"
darglint==1.5.5; python_version >= "3.5" and python_version < "4.0"
decorator==4.4.2; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.2.0")
diff-cover==4.0.1; python_version >= "3.5"
dlint==0.10.3
docopt==0.6.2
doit==0.33.1; python_version >= "3.5"
eradicate==2.0.0; python_version >= "3.6" and python_version < "4.0"
flake8-2020==1.6.0; python_full_version >= "3.6.1"
flake8-aaa==0.11.0; python_version >= "3.6" and python_version < "4"
flake8-annotations==2.4.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
flake8-assertive==1.3.0
flake8-bandit==2.1.2
flake8-blind-except==0.1.1
flake8-breakpoint==1.1.0; python_version >= "3.6" and python_version < "4.0"
flake8-broken-line==0.2.1; python_version >= "3.6" and python_version < "4.0"
flake8-bugbear==20.1.4; python_version >= "3.6"
flake8-builtins==1.5.3
flake8-cognitive-complexity==0.1.0; python_version >= "3.6"
flake8-commas==2.0.0
flake8-comprehensions==3.3.0; python_version >= "3.5"
flake8-debugger==3.2.1
flake8-deprecated==1.3
flake8-docstrings==1.5.0
flake8-eradicate==1.0.0; python_version >= "3.6" and python_version < "4.0"
flake8-expression-complexity==0.0.8; python_version >= "3.6"
flake8-fixme==1.1.1
flake8-functions==0.0.4
flake8-isort==4.0.0
flake8-logging-format==0.6.0
flake8-markdown==0.2.0; python_version >= "3.6" and python_version < "4.0"
flake8-mock==0.3
flake8-mutable==1.2.0
flake8-pep3101==1.3.0
flake8-plone-hasattr==0.2.post0
flake8-plugin-utils==1.3.1; python_version >= "3.6" and python_version < "4.0"
flake8-polyfill==1.0.2
flake8-print==3.1.4
flake8-printf-formatting==1.1.0; python_version >= "3.6"
flake8-pytest-style==1.3.0; python_version >= "3.6" and python_version < "4.0"
flake8-quotes==3.2.0
flake8-return==1.1.2; python_version >= "3.6" and python_version < "4.0"
flake8-sql==0.4.1
flake8-string-format==0.3.0
flake8-tuple==0.4.1
flake8-variables-names==0.0.3
flake8==3.8.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
future==0.18.2; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
gitchangelog==3.0.4
gitdb==4.0.5; python_version >= "3.4"
gitpython==3.1.11; python_version >= "3.4"
hacking==3.2.0; python_version >= "3.5"
importlab==0.5.1; python_version >= "3.6" and python_version < "3.9" and python_full_version >= "2.7.0"
importlib-metadata==2.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
inflect==4.1.0; python_version >= "3.6"
iniconfig==1.1.1; python_version >= "3.5"
iniparse==0.5
isort==5.6.4; python_version >= "3.6" and python_version < "4.0"
jinja2-pluralize==0.3.0; python_version >= "3.5"
jinja2==2.11.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
kiwisolver==1.3.0; python_version >= "3.6"
libcst==0.3.13; python_version >= "3.6"
loguru==0.5.3; python_version >= "3.5"
macfsevents==0.8.1; sys_platform == "darwin" and python_version >= "3.5"
mako==1.1.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
mando==0.6.4
markdown==3.3.3; python_version >= "3.6"
markupsafe==1.1.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
matplotlib==3.1.3; python_version >= "3.6"
mccabe==0.6.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
monkeytype==20.5.0; python_version >= "3.6"
mypy-extensions==0.4.3; python_version >= "3.6"
mypy==0.790; python_version >= "3.5"
networkx==2.5; python_version >= "3.6" and python_version < "3.9" and python_full_version >= "2.7.0"
ninja==1.10.0.post2; python_version >= "3.6" and python_version < "3.9"
numpy==1.19.3; python_version >= "3.6"
packaging==20.4; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
pandas-vet==0.2.2
pathtools==0.1.2
pbr==5.5.1; python_version >= "3.6"
pdoc3==0.9.1; python_version >= "3.5"
pep8-naming==0.11.1
pluggy==0.13.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
proselint==0.10.2
py==1.9.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
pyannotate==1.2.0
pycallgraph3==1.1.4; python_version >= "3.8" and python_version < "4.0"
pycodestyle==2.6.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pydocstyle==5.1.1; python_version >= "3.5"
pyflakes==2.2.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pygments==2.7.2; python_version >= "3.5"
pyinotify==0.9.6; sys_platform == "linux" and python_version >= "3.5"
pyparsing==2.4.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pystache==0.5.4
pytest-cov==2.10.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
pytest-html==2.1.1; python_version >= "3.6"
pytest-metadata==1.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
pytest-watch==4.2.0
pytest==6.1.2; python_version >= "3.5"
python-dateutil==2.8.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
pytype==2020.11.3; python_version >= "3.6" and python_version < "3.9"
pyupgrade==2.7.3; python_full_version >= "3.6.1"
pyyaml==5.3.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.9" or python_version >= "3.6" and python_version < "3.9" and python_full_version >= "3.5.0"
radon==4.3.2
ruamel.yaml.clib==0.2.2; platform_python_implementation == "CPython" and python_version < "3.9"
ruamel.yaml==0.16.12
sh==1.14.1
six==1.15.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.9" and python_full_version >= "2.7.0" or python_version >= "3.6" and python_version < "3.9" and python_full_version >= "3.4.0"
smmap==3.0.4; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.4"
snowballstemmer==2.0.0; python_version >= "3.5"
soupsieve==2.0.1; python_version >= "3.5"
sqlparse==0.4.1; python_version >= "3.5"
stevedore==3.2.2; python_version >= "3.6"
testfixtures==6.15.0
tokenize-rt==4.0.0; python_full_version >= "3.6.1"
toml==0.10.1
tqdm==4.51.0; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.2.0")
transitions==0.8.4
typed-ast==1.4.1; python_version >= "3.6" and python_version < "3.9"
typing-extensions==3.7.4.3; python_version >= "3.6"
typing-inspect==0.6.0; python_version >= "3.6"
vulture==2.1; python_version >= "3.6"
watchcode @ git+https://github.com/bluenote10/watchcode.git@master
watchdog==0.10.3
win32-setctime==1.0.3; sys_platform == "win32" and python_version >= "3.5"
zipp==3.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
