---
name: Update Docs

"on":
  push:
    branches: [main]
    paths:
      - .github/workflows/update_docs.yml
      - docs/**
      - mkdocs.yml
  workflow_dispatch: null # For manual runs

# Docs: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
permissions:
  # Repository contents, commits, branches, downloads, releases, and merges.
  contents: write

jobs:
  docs:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.9"]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # For git-revision-date-localized-plugin
      - uses: ./.github/actions/setup
        with:
          os: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}

        # https://github.com/mkdocs/mkdocs/discussions/2369#discussioncomment-625475
      - name: Configure git user
        run: |-
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
      - name: Build and deploy documentation
        run: poetry run calcipy-docs cl.write doc.build doc.deploy
